

/* モバイルスタイル */
@media (max-width: 768px) {

}

/* 小型デバイス対応 */
@media (max-width: 480px) {
  .ranking {
      padding: 10px;
  }

  .ranking h3.itiran {
      font-size: 1.2rem;
  }

  .ranking .border,
  .ranking .name,
  .ranking .time {
      font-size: 0.9rem;
  }}
